    
<div *ngIf="imgItem; then withImg else withoutImg"></div>

<ng-template #withImg>
    <div class="container-fluid d-flex justify-content-between p-2 align-items-center">
        <div class="container-fluid d-flex align-items-center">
            <img class="mr-2" src="{{'../assets/' + url}}" width="70px"/>
            <div>
                <p><b>{{name}}</b></p>
                <p>{{date}}</p>
                <p>{{location}}</p>
            </div>
        </div>
        <div>
            <button class="btn p-0"><img src="../assets/edit-icon.svg" width="15px"/></button>
            <button class="btn p-0"><img src="../assets/delete-icon.svg" width="15px"/></button>
        </div>
    </div>
</ng-template>

<ng-template #withoutImg>
    <div class="container-fluid d-flex justify-content-between p-2 align-items-center">
        <div class="container-fluid d-flex align-items-center">
            <div>
                <a target="_blank" [href]="url">{{name}}</a>
                <p>{{description}}</p>
            </div>
        </div>
        <div>
            <button class="btn p-0"><img src="../assets/edit-icon.svg" width="15px"/></button>
            <button class="btn p-0"><img src="../assets/delete-icon.svg" width="15px"/></button>
        </div>
    </div>
</ng-template>